<a href="https://colab.research.google.com/github/Shrut000/Projects101/blob/main/SHRU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.1.0-cp310-cp310-manylinux_2_28_x86_64.whl (34.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.4/34.4 MB 49.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [ ]:
# prompt: write a code to ping the mysql server

import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "43Yd8fJpATjZr1o.root",
  password = "SuOLic4rafN6mOii",
  database = "sample",
  ssl_ca = "<CA_PATH>",
  ssl_verify_cert = True,
  ssl_verify_identity = True
)

try:
    cursor = connection.cursor()
    cursor.execute("SELECT VERSION()")
    data = cursor.fetchone()
    print(f"Database version: {data[0]}")

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

InterfaceError: 2026 (HY000): SSL connection error: SSL_CTX_set_default_verify_paths failed

In [ ]:
import mysql.connector
from mysql.connector import Error

def test_mysql_connection(host, user, port, password, database):
    try:
        # Establish the connection
        connection = mysql.connector.connect(
            host=host,
            user=user,
            port=port,
            password=password,
            database=database
        )
        if connection.is_connected():
            print("Connection successful!")
            # Ping the server
            connection.ping(reconnect=True, attempts=3, delay=5)
            print("Ping successful!")
    except Error as e:
        print(f"Error: {e}")
    finally:
        if 'connection' in locals() and connection.is_connected():
            connection.close()
            print("Connection closed.")

# Example Usage
test_mysql_connection(
    host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",    # Replace with your MySQL server host
    user="43Yd8fJpATjZr1o.root",        # Replace with your MySQL username
    port=4000,
    password="SuOLic4rafN6mOii", # Replace with your MySQL password
    database="sample",   # Replace with your MySQL database
)

ModuleNotFoundError: No module named 'mysql'

In [ ]:
import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "43Yd8fJpATjZr1o.root",
  password = "SuOLic4rafN6mOii",
  database = "sample",
)

mycursor = connection.cursor()

ModuleNotFoundError: No module named 'mysql'

In [ ]:
mycursor.execute("create database test_db")

In [ ]:
mycursor.execute(f"create database {input()}")

shru

In [ ]:
mycursor.execute("show databases")
# for x in mycursor:
print(list(mycursor))
    # print(x)

[('INFORMATION_SCHEMA',), ('PERFORMANCE_SCHEMA',), ('mysql',), ('sample',), ('shru',), ('test',), ('test_db',)]

In [ ]:
# prompt: write a code to execute many

import mysql.connector
from mysql.connector import Error

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "43Yd8fJpATjZr1o.root",
  password = "SuOLic4rafN6mOii",
  database = "sample",
)

mycursor = connection.cursor()

try:
    # Create a database (if it doesn't exist)
    mycursor.execute("CREATE DATABASE IF NOT EXISTS test_db")

    # Get database names from user input (multiple databases)
    db_names = input("Enter database names separated by commas: ").split(',')
    for db_name in db_names:
        db_name = db_name.strip()  # Remove leading/trailing whitespace
        if db_name: # Check if the input is not empty after stripping
            try:
              mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")
              print(f"Database '{db_name}' created successfully.")
            except mysql.connector.Error as err:
              print(f"Error creating database '{db_name}': {err}")

    mycursor.execute("SHOW DATABASES")
    databases = mycursor.fetchall()
    print("List of databases:")
    for db in databases:
        print(db[0])

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    if connection.is_connected():
        mycursor.close()
        connection.close()
        print("MySQL connection is closed")

MySQL connection is closed

KeyboardInterrupt: Interrupted by user

In [ ]:
def insert_multiple_rows(data):
           if connection.is_connected():
            print("Connected to MySQL database")

            # SQL query to insert multiple rows
            insert_query = """
            INSERT INTO employees (id, name, department, salary)
            VALUES (%s, %s, %s, %s)
            """

            # Execute the query with multiple rows using `executemany`
            cursor = connection.cursor()
            cursor.executemany(insert_query, data)
            connection.commit()  # Commit the transaction

            print(f"{cursor.rowcount} rows were inserted successfully.")


# Sample data to insert
employee_data = [
    (1, 'Alice', 'Engineering', 70000),
    (2, 'Bob', 'HR', 60000),
    (3, 'Charlie', 'Marketing', 50000),
    (4, 'Diana', 'Engineering', 80000)
]

insert_multiple_rows(employee_data)

In [ ]:
mycursor.execute("drop database test")

In [ ]:
mycursor.execute("create table if not exists test_db.details(name varchar(255), number varchar(10), address varchar(70))")

In [ ]:
mycursor.execute("insert test_db.details(name, number, address) values ('Shruthi', '1223212233', 'Chennai')")
connection.commit()

ProgrammingError: 2055: Cursor is not connected

In [ ]:
# Taking user inputs
import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "43Yd8fJpATjZr1o.root",
  password = "SuOLic4rafN6mOii",
  database = "test_db",
)

mycursor = connection.cursor()

name = input("Enter name: ")
number = input("Enter phone number: ")
address = input("Enter address: ")
# Inserting data into the table
try:
    sql = "INSERT INTO test_db.details (name, number, address) VALUES (%s, %s, %s)"
    val = (name, number, address)
    mycursor.execute(sql, val)
    connection.commit()
    print(mycursor.rowcount, "record inserted.")
except mysql.connector.Error as err:
    print(f"Error: {err}")
# Closing the connection
connection.close()

Enter name: ruth
Enter phone number: 1212321232
Enter address: aaaa
1 record inserted.

In [ ]:
# prompt: write a gradio app that takes the input and insert into the table
!pip install gradio
!pip install mysql-connector-python
import gradio as gr
import mysql.connector
# Database connection details (replace with your actual credentials)
connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "43Yd8fJpATjZr1o.root",
  password = "SuOLic4rafN6mOii",
  database = "test_db",
)
mycursor = connection.cursor()
def insert_data(name, number, address):
  try:
    sql = "INSERT INTO test_db.details (name, number, address) VALUES (%s, %s, %s)"
    mycursor.execute(sql, (name, number, address))
    connection.commit()
    return f"{mycursor.rowcount} record inserted."
  except mysql.connector.Error as err:
    return f"Error: {err}"


iface = gr.Interface(
    fn=insert_data,
    inputs=[
        gr.Textbox(label="Name"),
        gr.Textbox(label="Phone Number"),
        gr.Textbox(label="Address"),
    ],
    outputs=gr.Textbox(label="Output"),
    title="Data Insertion App",
    description="Enter data to insert into the MySQL table.",
)
iface.launch()

Requirement already satisfied: gradio in /usr/local/lib/python3.10/dist-packages (5.9.1)
Requirement already satisfied: aiofiles<24.0,>=22.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (23.2.1)
Requirement already satisfied: anyio<5.0,>=3.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (3.7.1)
Requirement already satisfied: fastapi<1.0,>=0.115.2 in /usr/local/lib/python3.10/dist-packages (from gradio) (0.115.6)
Requirement already satisfied: ffmpy in /usr/local/lib/python3.10/dist-packages (from gradio) (0.5.0)
Requirement already satisfied: gradio-client==1.5.2 in /usr/local/lib/python3.10/dist-packages (from gradio) (1.5.2)
Requirement already satisfied: httpx>=0.24.1 in /usr/local/lib/python3.10/dist-packages (from gradio) (0.28.1)
Requirement already satisfied: huggingface-hub>=0.25.1 in /usr/local/lib/python3.10/dist-packages (from gradio) (0.27.0)
Requirement already satisfied: jinja2<4.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (3.1.4)
Requirement already satisfied: markupsafe~=2.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (2.1.5)
Requirement already satisfied: numpy<3.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (1.26.4)
Requirement already satisfied: orjson~=3.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (3.10.12)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from gradio) (24.2)
Requirement already satisfied: pandas<3.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (2.2.2)
Requirement already satisfied: pillow<12.0,>=8.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (11.0.0)
Requirement already satisfied: pydantic>=2.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (2.10.3)
Requirement already satisfied: pydub in /usr/local/lib/python3.10/dist-packages (from gradio) (0.25.1)
Requirement already satisfied: python-multipart>=0.0.18 in /usr/local/lib/python3.10/dist-packages (from gradio) (0.0.20)
Requirement already satisfied: pyyaml<7.0,>=5.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (6.0.2)
Requirement already satisfied: ruff>=0.2.2 in /usr/local/lib/python3.10/dist-packages (from gradio) (0.8.4)
Requirement already satisfied: safehttpx<0.2.0,>=0.1.6 in /usr/local/lib/python3.10/dist-packages (from gradio) (0.1.6)
Requirement already satisfied: semantic-version~=2.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (2.10.0)
Requirement already satisfied: starlette<1.0,>=0.40.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (0.41.3)
Requirement already satisfied: tomlkit<0.14.0,>=0.12.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (0.13.2)
Requirement already satisfied: typer<1.0,>=0.12 in /usr/local/lib/python3.10/dist-packages (from gradio) (0.15.1)
Requirement already satisfied: typing-extensions~=4.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (4.12.2)
Requirement already satisfied: uvicorn>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from gradio) (0.34.0)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from gradio-client==1.5.2->gradio) (2024.10.0)
Requirement already satisfied: websockets<15.0,>=10.0 in /usr/local/lib/python3.10/dist-packages (from gradio-client==1.5.2->gradio) (14.1)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.10/dist-packages (from anyio<5.0,>=3.0->gradio) (3.10)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.10/dist-packages (from anyio<5.0,>=3.0->gradio) (1.3.1)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5.0,>=3.0->gradio) (1.2.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx>=0.24.1->gradio) (2024.12.14)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.10/dist-packages (from httpx>=0.24.1->gradio) (1.0.7)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.10/dist-packages (from httpcore==1.*->httpx>=0.24.1->gradio) (0.14.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.25.1->gradio) (3.16.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.25.1->gradio) (2.32.3)
Requirement already satisfied: tqdm>=4.42.1 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.25.1->gradio) (4.67.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas<3.0,>=1.0->gradio) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<3.0,>=1.0->gradio) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas<3.0,>=1.0->gradio) (2024.2)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from pydantic>=2.0->gradio) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.1 in /usr/local/lib/python3.10/dist-packages (from pydantic>=2.0->gradio) (2.27.1)
Requirement already satisfied: click>=8.0.0 in /usr/local/lib/python3.10/dist-packages (from typer<1.0,>=0.12->gradio) (8.1.7)
Requirement already satisfied: shellingham>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from typer<1.0,>=0.12->gradio) (1.5.4)
Requirement already satisfied: rich>=10.11.0 in /usr/local/lib/python3.10/dist-packages (from typer<1.0,>=0.12->gradio) (13.9.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas<3.0,>=1.0->gradio) (1.17.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (2.18.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.25.1->gradio) (3.4.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.25.1->gradio) (2.2.3)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->typer<1.0,>=0.12->gradio) (0.1.2)
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (9.1.0)
Running Gradio in a Colab notebook requires sharing enabled. Automatically setting `share=True` (you can turn this off by setting `share=False` in `launch()` explicitly).

Colab notebook detected. To show errors in colab notebook, set debug=True in launch()
* Running on public URL: https://efdd59cdf24ec892c9.gradio.live

This share link expires in 72 hours. For free permanent hosting and GPU upgrades, run `gradio deploy` from the terminal in the working directory to deploy to Hugging Face Spaces (https://huggingface.co/spaces)

In [ ]:
import mysql.connector
connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "43Yd8fJpATjZr1o.root",
  password = "SuOLic4rafN6mOii",
  database = "test_db",
)
mycursor = connection.cursor()

In [ ]:
mycursor.execute("alter table test_db.details rename column number to p_number")

In [ ]:
mycursor.execute("alter table test_db.details copy column p_number")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your TiDB version for the right syntax to use line 1 column 32 near "copy column p_number"

In [ ]:
mycursor.execute("describe test_db.details")

In [ ]:
mycursor.execute("truncate test_db.details")

In [ ]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

def create_table_and_insert(csv_file_path, table_name, host, user, password, database):
    try:
        # Load the CSV into a Pandas DataFrame
        df = pd.read_csv(csv_file_path)

        # Connect to MySQL
        connection = mysql.connector.connect(
            host=host,
            user=user,
            password=password,
            database=database
        )
        cursor = connection.cursor()

        # Generate SQL table creation statement based on DataFrame
        columns = []
        for col in df.columns:
            # Infer data type
            dtype = df[col].dtype
            if pd.api.types.is_integer_dtype(dtype):
                sql_type = "INT"
            elif pd.api.types.is_float_dtype(dtype):
                sql_type = "FLOAT"
            elif pd.api.types.is_datetime64_any_dtype(dtype):
                sql_type = "DATETIME"
            else:
                max_length = max(df[col].astype(str).apply(len).max(), 255)
                sql_type = f"VARCHAR({max_length})"
            columns.append(f"`{col}` {sql_type}")

        create_table_query = f"CREATE TABLE IF NOT EXISTS `{table_name}` ({', '.join(columns)});"
        cursor.execute(create_table_query)
        print(f"Table `{table_name}` created successfully!")

        # Insert data into the table
        placeholders = ', '.join(['%s'] * len(df.columns))
        insert_query = f"INSERT INTO `{table_name}` VALUES ({placeholders})"
        cursor.executemany(insert_query, df.values.tolist())
        connection.commit()
        print(f"Inserted {cursor.rowcount} rows into `{table_name}`!")

    except Error as e:
        print(f"Error: {e}")
    finally:
        if 'connection' in locals() and connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection closed.")

# Example Usage
create_table_and_insert(
    csv_file_path="diabetes.csv",       # Path to your CSV file
    table_name="heytable",  # Table name to create
    host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",              # MySQL host
    user = "43Yd8fJpATjZr1o.root",
    password = "SuOLic4rafN6mOii",     # MySQL password
    database="test_db"       # MySQL database name
)

Table `heytable` created successfully!
Inserted 768 rows into `heytable`!
MySQL connection closed.

# New Section

In [ ]:
import time
from math import factorial

# Simulate processing numbers
def process_number(number):
    print(f"Processing {number}")
    result = factorial(number)  # Compute factorial
    # print(f"Finished processing {number}: Result is {len(str(result))} digits")

numbers = [100000, 90000, 80000, 70000, 60000]  # Large numbers for processing

start_time = time.time()

# Single-threaded processing
for number in numbers:
    process_number(number)

end_time = time.time()

print(f"Total time taken (Single-threaded): {end_time - start_time:.2f} seconds")

Processing 100000
Processing 90000
Processing 80000
Processing 70000
Processing 60000
Total time taken (Single-threaded): 0.57 seconds

In [ ]:
import threading
import time
from math import factorial

def process_number(number):
    print(f"Processing {number}")
    result = factorial(number)
    print(f"Finished {number}: {len(str(result))} digits")

numbers = [10000, 90000, 80000, 70000, 60000]

start_time = time.time()

threads = [threading.Thread(target=process_number, args=(num,)) for num in numbers]

for thread in threads:
    thread.start()

for thread in threads:
    thread.join()

Processing 10000Processing 90000

Processing 80000

Exception in thread Thread-21 (process_number):
Traceback (most recent call last):
  File "/usr/lib/python3.10/threading.py", line 1016, in _bootstrap_inner
Exception in thread Thread-23 (process_number):
Traceback (most recent call last):
  File "/usr/lib/python3.10/threading.py", line 1016, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.10/threading.py", line 953, in run
    self._target(*self._args, **self._kwargs)
  File "<ipython-input-27-f7becf53356c>", line 8, in process_number
ValueError: Exceeds the limit (4300) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit
Exception in thread Thread-24 (process_number):
Traceback (most recent call last):
  File "/usr/lib/python3.10/threading.py", line 1016, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.10/threading.py", line 953, in run
    self._target(*self._args, **self._kwargs)
  File "<ipython-input-27-f7becf53356c>", line 8, in process_number
ValueError: Exceeds the limit (4300) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit
Exception in thread Thread-22 (process_number):
Traceback (most recent call last):
  File "/usr/lib/python3.10/threading.py", line 1016, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.10/threading.py", line 953, in run
    self._target(*self._args, **self._kwargs)
  File "<ipython-input-27-f7becf53356c>", line 8, in process_number
ValueError: Exceeds the limit (4300) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit
    self.run()
  File "/usr/lib/python3.10/threading.py", line 953, in run
    self._target(*self._args, **self._kwargs)
  File "<ipython-input-27-f7becf53356c>", line 8, in process_number
ValueError: Exceeds the limit (4300) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit
Exception in thread Thread-25 (process_number):
Traceback (most recent call last):
  File "/usr/lib/python3.10/threading.py", line 1016, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.10/threading.py", line 953, in run
    self._target(*self._args, **self._kwargs)
  File "<ipython-input-27-f7becf53356c>", line 8, in process_number
ValueError: Exceeds the limit (4300) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit

Processing 70000
Processing 60000

In [ ]:
!pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (0.9.0)

In [ ]:
# mycursor.execute("select * from test_db.heytable")
mycursor.execute("select count(age) as fitpeople from test_db.heytable where bmi >= 20 and bmi <= 24")
out = mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,
              headers=[i[0] for i in mycursor.description],
              showindex="always",
              tablefmt='psql'))

+----+-------------+
|    |   fitpeople |
|----+-------------|
|  0 |          65 |
+----+-------------+

In [ ]:
m